<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Personal</title>
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <title>App Personal</title>
  </head>
  <body>

    <nav class="hover-underline-menu" data-menu-underline-from-center>
      <ul class="menu align-center">
        <li>
          <a href="../index.html">
            <span data-tooltip class="top" tabindex="2" title="Inicio">
              Inicio
            </span>
          </a>
        </li>
        <li>
          <a href="conocimientos.html">
            <span data-tooltip class="top" tabindex="2" title="Conocimientos">
              Conocimientos
            </span>
          </a>
        </li>
        <li>
          <a href="proyectos.html">
            <span data-tooltip class="top" tabindex="0" title="Proyectos">
              Proyectos
            </span>
          </a>
        </li>
        <li>
          <a href="contacto.html">
            <span data-tooltip class="top" tabindex="1" title="Contacto">
              Contacto
            </span>
          </a>
        </li>
      </ul>
    </nav>

  <!-- Contenido -->
    <div class="container  d-flex align-content-between flex-wrap">
      <div class="container">
        <p class="lead">
        </p>
      </div>
      <div class="">
        <h3 class="text-center display-4">
          Experiencias!
        </h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="card-deck">
              <div class="card  shadow p-3 mb-5 bg-white rounded">
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="../img/java.png" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1 lead">Java</h5>
                      Creando proyectos en Java desarrolle una parte logica la cual es fundamental a la hora de resolver ejercicios.
                      En este lenguaje aprendi a llevar a cabo proyectos grandes, como la realizacion de una mapa de bits
                      Un proyecto acerca de la correccion de lenguaje html.
                      Ademas de aprender las buenas practicas de programcion y la utilizacion de diferentes FrameWorks para este lenguaje.
                    </div>
                  </li>
                  <li class="media my-4">
                    <img class="mr-3" src="../img/php.png" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1 lead">PHP</h5>
                      PHP es un lenguaje de programcion orientada a la parte web, en este lenguaje he hecho diferentes Proyectos
                      tanto de manera indivual como en equipo.
                      Una de las ventajas de realizar proyectos que se despliegan en ambientes web son la adaptabilidad en dispositivos
                    </div>
                  </li>
                  <li class="media">
                    <img class="mr-3" src="../img/js.png" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1 lead">JS</h5>
                      Con poco tiempo dentro de este lenguaje, he encontrado es que pueden existir proyectos lo cuales unicamente
                      puedan escribirse en JS tanto el front-end como el back-end. Ademas de sus grandes y potentes herramientas que este trae.
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-deck">
              <div class="card  shadow p-3 mb-5 bg-white rounded">
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="../img/sql.png" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1 lead">MySql</h5>
                      MySql es un lenguaje de consultado estructurado para el motor de base de datos SQL, dentro de este se pueden realizar la consulta de informacion
                      al momento de solicitarla ya sea tanto para App de escritorio, web o movil.
                    </div>
                  </li>
                  <li class="media my-4">
                    <img class="mr-3" src="../img/angular.png" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1 lead">AngularJS</h5>
                      AngularJS es un FrameWorks de JavaScript para el desarrollo front-end de una app, este trae potentes herramientas las cuales son muy utiles
                      al momento de desarrollar; ademas de contar con su propio grupo de estructuras de directivas, servicios, etiquetados entre otros.

                    </div>
                  </li>
                  <li class="media">
                    <img class="mr-3" src="../img/mae.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1 lead">Mate Argentino</h5>
                      Para preparar un mate cebado, se coloca la yerba en un recipiente llamado mate o calabaza,
                      hasta las tres cuartas partes del mismo. Luego se tapa con la mano, se coloca boca abajo y se lo agita
                      (esto hace que las partículas más finas queden en la parte superior, y no obstruyan la bombilla).
                      Se lo coloca nuevamente boca arriba y se le agrega un poco de agua tibia o fría cerca del borde.
                      Se deja reposar algunos segundos (hasta que se absorba el agua) y se termina de llenar con agua caliente
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </div>

      </div>

    <!-- <section class="container  d-flex align-content-between flex-wrap">
      <div class="container">
        <p class="lead text-center">
        </p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <p class="lead">
              Front-end
            </p>
            <div class="card-deck">
              <div class="card  shadow p-3 mb-5 bg-white rounded">

              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <p class="lead">
              Back-end
            </p>
            <div class="card-deck">
              <div class="card  shadow p-3 mb-5 bg-white rounded">
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <p class="lead">
              Escritorio
            </p>
            <div class="card-deck">
              <div class="card  shadow p-3 mb-5 bg-white rounded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <footer class="social-footer">
      <div class="social-footer-left">
        <small class="text-muted">Nelson Sepulveda - 2018</small>
      </div>
      <div class="social-footer-icons">
        <ul class="menu simple">
          <li>
            <a
              href="https://github.com/nelson-repo"
              target="_blank"
              data-toggle="tooltip"
              data-placement="top"
              title="Git hub"
            >
              <i class="fab fa-github" aria-hidden="false" >
              </i>
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              data-toggle="tooltip"
              data-placement="top"
              title="Facebook"
            >
              <i class="fab fa-facebook-f" aria-hidden="true" >
              </i>
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/"
              target="_blank"
              data-toggle="tooltip"
              data-placement="top"
              title="Twitter"
            >
              <i class="fab fa-twitter" aria-hidden="true" >
              </i>
            </a>
          </li>
          <li>
            <a
              href="https://plus.google.com/discover"
              target="_blank"
              data-toggle="tooltip"
              data-placement="top"
              title="Google plus +"
            >
              <i class="fab fa-google-plus-g" aria-hidden="true" >
              </i>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/vendor/what-input.js"></script>
    <script src="../js/vendor/foundation.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
