<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Personal</title>
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <title>App Personal</title>
  </head>
  <body>

    <nav class="hover-underline-menu" data-menu-underline-from-center>
      <ul class="menu align-center">
        <li>
          <a href="../index.html">
            <span data-tooltip class="top" tabindex="2" title="Inicio">
              Inicio
            </span>
          </a>
        </li>
        <li>
          <a href="conocimientos.html">
            <span data-tooltip class="top" tabindex="2" title="Conocimientos">
              Conocimientos
            </span>
          </a>
        </li>
        <li>
          <a href="proyectos.html">
            <span data-tooltip class="top" tabindex="0" title="Proyectos">
              Proyectos
            </span>
          </a>
        </li>
        <!-- <li>
          <a href="contacto.html">
            <span data-tooltip class="top" tabindex="1" title="Contacto">
              Contacto
            </span>
          </a>
        </li> -->
      </ul>
    </nav>

    <div class="container  d-flex align-content-between flex-wrap">
      <div class="container">
        <p class="lead text-center">
        </p>
      </div>
      <div class="card-deck">
        <div class="card  shadow p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="../img/img1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">ERP- Studio Princess</h5>
            <p class="card-text">
              Este proyecto eta enfocado para el manejo de diferentes areas de tipos comercial: Boutique's, Zonas comerciales entre otras.
              Se enfoca en la administracion de los productos y manejar un inventario completo dentro de la parametrizacion del negocio
            </p>
            <span>Link:</span>
            <a href="http://gidis.ufps.edu.co/princess/modelo/ERP-Studio/" target="_blank" class="badge badge-light">Studio Princess</a>
          </div>
          <div class="card-footer">
            <a href="https://github.com/nelson-repo/ERP-Studio" target="_blank">
              <small class="text-muted">visitar repositorio <i class="fab fa-github" aria-hidden="false"></i> </small>
            </a>
          </div>
        </div>
        <div class="card  shadow p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="../img/img3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Wintime PRO</h5>
            <p class="card-text">
              Es un software el cual esta construido para la administracion, contabilidad, inventario de un negocio
              Los diferentes aspectos dentro del negocio se basan en el manejo completo de los productos
              Ademas integra como parte fundamental del proyecto la realizacion de cadena de produccion,
              Nomina, Sistema de Inventario, Sistema de estadisticas, para los restaurantes implementa POS (Point of Sale) o punto de venta
              Manejo de Caja(s) interna(s) y caja contable entre muchas otras herramientas!. 
            </p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/HenderOrlando/wintimeFront" target="_blank">
              <small class="text-muted">visitar repositorio <i class="fab fa-github" aria-hidden="false"></i> </small>
            </a>
          </div>
        </div>
        <div class="card  shadow p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="../img/img2.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">JustinApp</h5>
            <p class="card-text">
              Proyecto realizado en AngularJS y SailsJS
              Integra la informacion de inmobiliarias de la Ciudad de Cúcuta en un solo sitio, donde se permiten ver
              los diferentes inmuebles que estan en disponibilidad, utilizando AngularJS se integro la logica del Front-end 
              haciendo mas versatil la App, de igual forma SailsJS nos permite una conexion mas rapida con los modelos y la base de datos.
              (Cabe resaltar que el Front-end y en Back-end se encuentran separados ya que con angular es mucho mas facil consumir la API que nos genera Sails).
            </p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/HenderOrlando/JustIn">
              <small class="text-muted">visite repositorio <i class="fab fa-github" aria-hidden="false"></i> </small>
            </a>
          </div>
        </div>
      </div>
    </div>

    <footer class="social-footer">
      <div class="social-footer-left">
        <small class="text-muted">
            Nelson Sepulveda -
            <time>
              2019
            </time>
        </small>
      </div>
      <div class="social-footer-icons">
        <ul class="menu simple">
          <li>
            <a
              href="https://github.com/nelson-sepulveda"
              target="_blank"
              data-toggle="tooltip"
              data-placement="top"
              title="Git hub"
            >
              <i class="fab fa-github" aria-hidden="false" >
              </i>
            </a>
          </li>
          <li>
            <a
              href="https://plus.google.com/discover"
              target="_blank"
              data-toggle="tooltip"
              data-placement="top"
              title="Google plus +"
            >
              <i class="fab fa-google-plus-g" aria-hidden="true" >
              </i>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/vendor/what-input.js"></script>
    <script src="../js/vendor/foundation.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
